.nav-sections .navigation a.level-top{font-family:'Moderate Regular';}
.nav-sections .navigation .level0 .submenu a{font-family:'Moderate Regular';}
h1, h1.page-title{font-family:'Moderat Bold';}
.sidebar .block .block-title span strong, .sidebar .block .block-title span span, .sidebar .block .block-title strong, .sidebar .block .block-title span, .block .block-title strong, .filter .block-subtitle{font-family:'Moderat Bold';}
.products-grid .item .product.name a, .products-grid .product-item .product.name a, .products-list .item .product.name a{font-family:'Moderat Bold';}
