<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Tatvic Software.
*
* @category  Tatvic
* @package   Tatvic_ActionableGoogleAnalytics
* @author    Tatvic
* @copyright Copyright (c) 2010-2021 Tatvic Software Private Limited (https://tatvic.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tatvic_ee>
            <purchase_code>
                <purchase_code></purchase_code>
            </purchase_code>
            <general>
                <email_id></email_id>
                <enable>0</enable>
                <tracking_type></tracking_type>
                <list_mode></list_mode>
                <ua_id_ga></ua_id_ga>
                <measurment_id_ga4></measurment_id_ga4>
                <ua_id_both></ua_id_both>
                <measurment_id_both></measurment_id_both>
                <gtm>0</gtm>
                <ref_token></ref_token>
            </general>
            <configuration>
                <hp_cat></hp_cat>
                <best_seller>0</best_seller>
                <period>0</period>
                <brand_code></brand_code>
                <linked_ads_id></linked_ads_id>
                <linked_ua_id></linked_ua_id>
                <linked_merchant_id></linked_merchant_id>
            </configuration>
            <advance>
                <optimize_id></optimize_id>
                <use_internal_promo>0</use_internal_promo>
                <internal_promotion></internal_promotion>
                <enableDF>0</enableDF>
                <linkAttr>0</linkAttr>
                <enableIP>0</enableIP>
                <enableUserID>0</enableUserID>
                <enableClientID>0</enableClientID>
                <enableOptOut>0</enableOptOut>
                <enableContentGroup>0</enableContentGroup>
                <formTracking>0</formTracking>
                <adsSign>0</adsSign>
            </advance>
            <conversion>
                <advenable>0</advenable>
                <adv_label></adv_label>
                <adv_id></adv_id>
                <fbPixelenable></fbPixelenable>
                <fb_id></fb_id>
            </conversion>
        </tatvic_ee>
    </default>
</config>