<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Logicrays_UpdateOrder::updateorderstatus" title="Order Status Change Access" sortOrder="51">
                    <resource id="Logicrays_UpdateOrder::pending" title="Pending" sortOrder="10"/>
                    <resource id="Logicrays_UpdateOrder::processing" title="Processing" sortOrder="20" />
                    <resource id="Logicrays_UpdateOrder::under_procurement" title="Under Procurement" sortOrder="20" />
                    <resource id="Logicrays_UpdateOrder::complete" title="Dispatched" sortOrder="30" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Logicrays_UpdateOrder::updateorder" title="Order Status Change Access"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>