.page{max-width:auto;}
.top-toolbar, .header, .top-container, .main, .footer, .footer-toolbar, .footer-cms, .container{width:100%;max-width:100%;}
body{background-color:#FFFFFF;background-image:none;background-repeat:repeat;background-position:0px 0px;}
.top-toolbar-container{background-color:#fff;background-image:none;background-repeat:repeat;background-position:0px 0px;}
.header-container{background-color:#fff;background-image:none;background-repeat:no-repeat;background-position:0px 0px;}
.main-container{background-color:#fff;background-image:none;background-repeat:no-repeat;background-position:0px 0px;}
.main{background-color:#fff;background-image:none;background-repeat:no-repeat;background-position:0px 0px;}
.footer-container, .footer-cms-container, .footer-toolbar-container{background-color:#f6f6f6;background-image:none;background-repeat:repeat;background-position:0px 0px;}
.nav-container .navpro a.level-top, .nav-container .navpro div.level-top a{font-family:'Raleway', sans-serif;font-size:12px;text-transform:uppercase;color:#000000;}
.nav-container .navpro li a.nav-a:hover, .nav-container .navpro li .nav-sibling-title a:hover, .nav-container .navpro .over > a.level-top, .nav-container .navpro .over > div.level-top a{color:#bd2345;}
.nav-container .navpro .active > a.level-top, .nav-container .navpro .active > div.level-top a, #nav li.active a.level-top:hover, #nav li.active a.level-top.over, .nav-container .navpro li.active a.level-top:hover, .nav-container .navpro li.active a.level-top.over{color:#bd2345;}
.nav-container .navpro .nav-ul .nav-a, .nav-container .navpro .nav-ul .nav-sibling-title a{color:#000000;}
.nav-container .navpro .nav-ul .nav-a.over, .nav-container .navpro .nav-ul .nav-sibling-title a.over{color:#bd2345;}
.nav-container .navpro .nav-ul .active > .nav-a{color:#000000;}
button.button span{border-color:#000;background-color:#000;color:#ffffff;}
button.button:hover span{background-color:transparent;color:#000;}
button.btn-alt span{border-color:#000;background-color:transparent;color:#000;}
button.btn-alt:hover span{background-color:#000;color:#ffffff;}
.product-view .product-shop .btn-cart span, .amazonstyle-checkboxes .btn-cart span, button.btn-checkout span{border-color:#000;background-color:#000;color:#ffffff;}
.product-view .product-shop .btn-cart:hover span, .amazonstyle-checkboxes .btn-cart:hover span, button.btn-checkout:hover span{background-color:#ffffff;color:#000;}
