<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="review_save_after">
        <observer name="logicrays_admin_product_review_save_after" instance="Logicrays\ReviewImage\Observer\AdminProductReviewSaveAfter" />
    </event>
    <event name="review_delete_before">
        <observer name="logicrays_admin_product_review_delete_before" instance="Logicrays\ReviewImage\Observer\AdminProductReviewDeleteBefore" />
    </event>
</config>