<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Elsner_Productposition::parent" title="Product Position" sortOrder="40">
                    <resource id="Elsner_Productposition::productposition" title="Manage Product Position" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>