.ccavenuepay_frontend_logo {
  height: 110px;
  background: url("https://www.ccavenue.com/images_shoppingcart/ccavenue_pay_options.gif");
  background-repeat: no-repeat;
  width: 440px;
  margin-top: 10px;
}
