<input data-form-part="product_form" type="text"
    data-bind="
        value: rowId,
        attr: {
            name: inputName.replace('sku','row_id'),
            id: uid + '_row_id'
}" style="display:none;"/>
<input class="admin__control-text" type="text"
    data-bind="afterRender: function(el){odFieldSet.optionDependent('initRowId', el, rowId, true)},
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled
    }" />