<!--@subject {{trans "Saree: Need to check your comment"}}  @-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td class="email-heading" style = "background: #e5e5e5; width: 50%;">
                    <a href="{{store url=""}}"><img style="padding:10px;"  src="{{var logo_url}}"  alt="{{var logo_alt}}"  border="0"/></a>
                </td>
            </tr>
            <!-- [ middle starts here] -->
            <tr style="background-color:#f9f9f9;">
                <td valign="top" style=" border-bottom: 1px dotted #b8c1d1;">
                    <h1 style="font-size:13px; font-weight:bold; line-height:22px; margin:-2px 0 8px 0;">Hello,</h1>
                    <p style="font-size:14px; line-height:24px; margin:0;">
                        {{var updateBy}} has update comment on #{{var orderId}}<br>
                    </p>
                    <p>
                        {{var comment}}
                    </p>
                    <p>
                        Thank you for choosing Saree.com. We look forward to delivering an outfit that matches your style and expectations.
                        <br><br>
                        Best Regards,<br>
                        <a href="saree.com">Saree.com</a> - Powered by Asopalav
                    </p>
            </tr>
            <tr>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>