<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_product_add_after">
        <observer name="add_vendor_in_item" instance="Logicrays\VendorManagement\Observer\QuoteAddItemObserver" />
    </event>

    <event name="catalog_product_save_after">
        <observer name="update_vendor_product_after_product_save" instance="Logicrays\VendorManagement\Observer\UpdateVendorProduct" />
    </event>
</config>