<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Tatvic Software.
*
* @category  Tatvic
* @package   Tatvic_ActionableGoogleAnalytics
* @author    Tatvic
* @copyright Copyright (c) 2010-2021 Tatvic Software Private Limited (https://tatvic.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="Tatvic" translate="label" sortOrder="10">
            <label>Tatvic</label>
        </tab>
        <section id="tatvic_ee" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Actionable Google Analytics</label>
            <tab>Tatvic</tab>
            <resource>Tatvic_ActionableGoogleAnalytics::ee</resource>
            <group id="purchase_code" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Magento Marketplace Public Access Key</label>
                <field id="purchase_code" type="text" translate="label" showInWebsite="1" showInStore="1" sortOrder="10" showInDefault="1">
                    <label>Public Key</label>
                    <backend_model>Tatvic\ActionableGoogleAnalytics\Model\Code</backend_model>
                    <validate>required-entry validate-activation-code</validate>
                    <comment> Please Enter Magento Marketplace Access Key</comment>
                </field>
            </group>
            <group id="general" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label> How do you want to tag your website? </label>
                <field id="email_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email ID</label>
                    <validate>required-entry validate-email</validate>
                    <comment> Please enter Email ID.</comment>
                </field>
                <field id="enable" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Actionable Google Analytics Tracking</comment>
                </field>
                <field id="tracking_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracking Configuration</label>
                    <source_model>Tatvic\ActionableGoogleAnalytics\Model\Config\Source\TrackingMode</source_model>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <comment>
                        Select method for tag your website
                    </comment>
                </field>
                <field id="list_mode" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select the method for tracking</label>
                    <source_model>Tatvic\ActionableGoogleAnalytics\Model\Config\Source\ListMode</source_model>
                    <depends>
                        <field id="tracking_type">universal_analytics</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <comment> Select method for tracking </comment>
                </field>
                <field id="ua_id_ga" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Analytics ID</label>
                    <depends>
                        <field id="tracking_type">universal_analytics</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <comment>
                        Enter Google Analytics ID (UA-ID)
                    </comment>
                </field>
                
                <field id="measurment_id_ga4" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Analytics Measurment ID</label>
                    <depends>
                        <field id="tracking_type">google_analytics_4</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                    <comment>
                        Enter Google Analytics 4 Measurment ID
                    </comment>
                </field>
                <field id="ua_id_both" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Analytics ID</label>
                    <depends>
                        <field id="tracking_type">both</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                    <comment>
                        Enter Google Analytics ID (UA-ID)
                    </comment>
                </field>
                <field id="measurment_id_both" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Analytics Measurment ID</label>
                    <depends>
                        <field id="tracking_type">both</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                    <comment>
                        Enter Google Analytics 4 Measurment ID
                    </comment>
                </field>

                <field id="gtm" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Our Extension with Your GTM</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <comment>
                        <![CDATA[ If Yes, follow the instructions <a href="http://plugins.tatvic.com/downloads/magento-extension-GA4-GTM-steps.pdf"> mention </a> in the document to learn how to set your GTM with our Extension. ]]>
                    </comment>
                </field>

                <field id="ref_token" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GA Authentication Token</label>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <comment>
                        <![CDATA[ <a href='http://plugins.tatvic.com/tat_ga/ga_rdr.php' target="_blank" id='loginText'> Click Here </a>to to Authenticate your Google Analytics Account to See Product Refund Data in Your GA. At the end of the authentication, you will be given the token. Kindly copy paste the token in the field above. ]]>
                    </comment>
                </field>
            </group>
            <group id="configuration" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <depends>
                    <field id="tatvic_ee/general/enable">1</field>
                </depends>
                <label>Configuration Settings</label>
                <field id="hp_cat" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Homepage Category ID (Optional)</label>
                    <comment>
                        <![CDATA[ Enter the category ID of the products that you want to showcase on the home page of custom extension. You can find the category Id from Catalog > managed products section. (Note :"," Comma Seperated Values) ]]>
                    </comment>
                </field>
                <field id="best_seller" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Homepage Best Seller (Optional)</label>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[ Track Best Seller Products block activity on home page of custom extension. ]]>
                    </comment>
                </field>
                <field id="period" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Time Period for Bestsellers Products</label>
                    <depends>
                        <field id="best_seller">1</field>
                    </depends>
                    <source_model>Tatvic\ActionableGoogleAnalytics\Model\Config\Source\TimePeriod</source_model>
                    <comment> Select Time Period for Bestseller products </comment>
                </field>
                <field id="brand_code" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Code (Optional)</label>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <comment>
                        <![CDATA[ Provide the brand code to see the product brand name in GA.(Note :"," Comma Seperated Values) ]]>
                    </comment>
                </field>
            </group>
            <group id="advance" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <depends>
                    <field id="tatvic_ee/general/enable">1</field>
                </depends>
                <label>Advance Feature</label>
                
                <comment><![CDATA[To use User ID Tracking, Content Grouping, Set up Custom Dimensions/ Metrics & Product Refund, you need to configure your Google Analytics. Take this <a href="http://plugins.tatvic.com/enhanced-ecommerce-installation-wizard/?store_type=magento" target="_blank">Quick Tour </a> to learn the configuration changes. If you won’t configure some features of our extension will not work.]]></comment>

                <field id="optimize_id" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Optimize ID (Optional)</label>
                    <depends>
                        <field id="tatvic_ee/general/tracking_type">universal_analytics</field>
                        <field id="tatvic_ee/general/list_mode">analytics</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <comment>
                        <![CDATA[ <a href="https://www.tatvic.com/privacy-policy/?ref=plugin_policy&utm_source=plugin_backend&utm_medium=magento2_premium_extension&utm_campaign=GDPR_complaince_ecomm_plugins" target="_blank">Google Optimize</a> allows you to test variants of web pages and see how they perform against an objective that you specify. Optimize monitors the performance of your experiment and tells you which variant is the leader.]]>
                    </comment>
                </field>
                <field id="use_internal_promo" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Internal Promotion (Optional)</label>
                    <depends>
                        <field id="tatvic_ee/general/tracking_type">universal_analytics</field>
                        <field id="tatvic_ee/general/list_mode">analytics</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                </field>
                <field id="internal_promotion" translate="label comment" type="textarea" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Internal Promotions Setting</label>
                    <depends>
                        <field id="use_internal_promo">1</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <comment>
                        <![CDATA[ To use Internal Promotion feature, Please provide us the data in the requested format: </br>
                        Image Description, Promo ID, Name, Creative, Position of the Banner<br>
                        Example: promo_banner,self_promo1,promotion,new_year_sale,top_banner<br>
                        Where,<br>
                        Image Description:promo_banner<br>
                        Promo ID : self_promo1<br>
                        Name: promotion<br>
                        Creative: new_year_sale<br>
                        Position of the Banner: top_banner<br>
                        Note: Separate more than one internal promotion data by new line. Also, do not use white space in your name.
                        ]]>
                    </comment>
                </field>
                <field id="enableDF" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Display Feature</label>
                    <depends>
                        <field id="tatvic_ee/general/tracking_type">universal_analytics</field>
                        <field id="tatvic_ee/general/list_mode">analytics</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                    <comment>
                        Enable this option to use Display Feature of Google Analytics
                    </comment>
                </field>
                <field id="linkAttr" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enhanced Link Attribution</label>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                    <comment>
                        Enhanced link attribution improves click reports by automatically differentiating between multiple link clicks that have the same URL on a given page for gtag.js and Google Analytics 4 tracking.
                    </comment>
                </field>
                <field id="enableIP" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable IP Anonymization</label>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                    <comment>
                        <![CDATA[Use this feature to anonymize (or stop collecting) the I.P Address of your users in Google Analytics. Be in legal compliance by using I.P Anonymization which is important for EU countries As per the GDPR compliance.
                       Read our <a href="https://www.tatvic.com/privacy-policy/?ref=plugin_policy&utm_source=plugin_backend&utm_medium=magento2_premium_extension&utm_campaign=GDPR_complaince_ecomm_plugins" target="_blank">privacy policy</a>.]]>
                    </comment>
                </field>
                <field id="enableUserID" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable User ID Tracking</label>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                    <comment>
                        Enable this option to use User ID Tracking Feature of Google Analytics
                    </comment>
                </field>
                <field id="enableClientID" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Client ID Tracking</label>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                    <comment>
                        <![CDATA[Use this feature to collect client id (for remarketing) from your website in your Google Analytics account. It's advisable to update your privacy policy with the consent screen to get the client id of the visitors.
                       Read our <a href="
https://www.tatvic.com/privacy-policy/?ref=plugin_policy&utm_source=plugin_backend&utm_medium=magento2_premium_extension&utm_campaign=GDPR_complaince_ecomm_plugins" target="_blank">privacy policy</a>.
                       ]]>
                    </comment>
                </field>
                <field id="enableOptOut" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Google Analytics Opt Out</label>
                    <depends>
                        <field id="tatvic_ee/general/tracking_type">universal_analytics</field>
                        <field id="tatvic_ee/general/list_mode">analytics</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                    <comment>
                        <![CDATA[Use this feature to provide website visitors the ability to prevent their data from being used by Google Analytics As per the GDPR compliance. Read our <a href="https://www.tatvic.com/privacy-policy/?ref=plugin_policy&utm_source=plugin_backend&utm_medium=magento2_premium_extension&utm_campaign=GDPR_complaince_ecomm_plugins" target="_blank">privacy policy</a>.]]>
                    </comment>
                </field>
                <field id="enableContentGroup" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Content Grouping (Optional)</label>
                    <depends>
                        <field id="tatvic_ee/general/tracking_type">universal_analytics</field>
                        <field id="tatvic_ee/general/list_mode">analytics</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                    <comment>
                        <![CDATA[ Content grouping helps you group your web pages (content). To use this feature create Content Grouping in your GA as instructed in step 2 of this <a href="http://plugins.tatvic.com/enhanced-ecommerce-installation-wizard/?store_type=magento#2"> wizard</a> ]]>
                    </comment>
                </field>
                <field id="formTracking" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Form Field Tracking</label>
                    <depends>
                        <field id="tatvic_ee/general/tracking_type">universal_analytics</field>
                        <field id="tatvic_ee/general/list_mode">analytics</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                    <comment>
                        <![CDATA[ Enable this feature to carry out form field analysis for your e-commerce store ]]>
                    </comment>
                </field>
                <field id="adsSign" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Advertising Features</label>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        This configurations give you the ability to disable advertising, reporting, and remarketing features, and override any property settings established in the Google Analytics user interface for gtag.js and Google Analytics 4 tracking.
                    </comment>
                </field>
                
            </group>
            <group id="conversion" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <depends>
                    <field id="tatvic_ee/general/enable">1</field>
                </depends>
                <label>Conversion Settings</label>
                
                <field id="advenable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Adwords Conversion</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Enable/Disable Google Adwords Conversion
                    </comment>
                </field>
                <field id="adv_label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Adwords Conversion Label</label>
                    <depends>
                        <field id="advenable">1</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                    <comment>
                        Enter Google Adwords Conversion Label
                    </comment>
                </field>
                <field id="adv_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Adwords Conversion ID</label>
                    <depends>
                        <field id="advenable">1</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                    <comment>
                        Enter Google Adwords Conversion ID
                    </comment>
                </field>
                <field id="fbPixelenable" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook Pixel Tracking</label>
                    <depends>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Enable/Disable Facebook Pixel Tracking
                    </comment>
                </field>
                <field id="fb_id" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook Pixel ID</label>
                    <depends>
                        <field id="fbPixelenable">1</field>
                        <field id="tatvic_ee/general/enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                    <comment>
                        Enter Facebook Pixel ID
                    </comment>
                </field>
            </group>
            <group id="support" translate="label" type="text"  sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>Tatvic\ActionableGoogleAnalytics\Block\Adminhtml\System\Support</frontend_model>
            </group>
        </section>
    </system>
</config>
