<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <preference for="\Magento\ConfigurableProduct\Model\ResourceModel\Attribute\OptionSelectBuilder" type="Logicrays\NewColor\Model\ResourceModel\Attribute\OptionSelectBuilder" />
</config>
