<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <payglocal>
                <active>0</active>
                <model>PayGlocalFacadeAdapter</model>
                <title>International Credit/Debit Cards</title>
                <show_logo>1</show_logo>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <mode>1</mode>
                <iframe_width>360</iframe_width>
                <display_mode>modal</display_mode>
                <sandbox_gateway_url>https://api.uat.payglocal.in/gl/v1/payments</sandbox_gateway_url>
                <live_gateway_url>https://api.prod.payglocal.in/gl/v1/payments</live_gateway_url>
                <allowspecific>0</allowspecific>
                <allow_3d_secure>Disable</allow_3d_secure>
                <cvc_check>Disable</cvc_check>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <debug>1</debug>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <privateInfoKeys>transactionCreationTime,gid,Amount,detailedMessage,CardType,merchantUniqueId,reasonCode,authApprovalCode,status</privateInfoKeys>
                <paymentInfoKeys>transactionCreationTime,gid,payment-method,Amount,txnCurrency,merchantTxnId,CardBrand,detailedMessage,CardType,merchantUniqueId,reasonCode,authApprovalCode,status</paymentInfoKeys>
            </payglocal>
        </payment>
    </default>
</config>
