.delivery-info {
    background-image: url(Logicrays_OrderDeliveryEstimation::images/est-delivery.svg);
    display: inline-block;
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 32px;
    font-size: 12px;
    margin: 10px 0;
    line-height: 24px;
}
#custom_measurement_message {
    color: red;
}